:root {
    --green: #009C56;
    --dark-green: #4F6C51;
    --gold: #F8C11E;
    --floral-white: #FDFBEF;
    --red-alert: #EA272F;
    --blue:#103352;  
    --darkish: #000;
}

body, html {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px; 
    font-size: 20px;
    user-select: none;
    font-family: monospace;
}

nav {
    padding: 15px;
}

article.element {
    margin: 0px auto;
    padding: 0px 15px 30px 15px;
}

.app-icon {
    width: 50px; height: 50px;
    border-radius: 10px;
    margin-right: 15px;
}

article.element .element-child {
    display: table-cell;
    vertical-align: top;
}

a { text-decoration: underline; color: #000;}

i { vertical-align: middle;}

.title { color: var(--darkish); text-decoration: underline;}
.info { color: var(--darkish); }
a:hover { text-decoration: underline; color: var(--gold);}

a.href-icon:hover { color: var(--red-alert) !important; }
.monkey { font-size: 2em; padding: 25px; text-align: center;}

.wrap {
    margin: 0px auto;
    position: relative;
    max-width: 600px;
}